This notebook contains code to bring the data in the form suitable for further analysis. We pick up from the conclusion section of the notebook 'Preliminary-analysis'.

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
raw_data = pd.read_csv('all_data.csv', dtype={'PatientId': str, 'AppointmentID': str})

In [3]:
#raw_data['ScheduledDate'] = [datetime.date.fromisoformat(s[0:10]) for s in raw_data['ScheduledDay']]
#raw_data['ScheduledTime'] = [datetime.time.fromisoformat(s[11:19]) for s in raw_data['ScheduledDay']]
#raw_data['AppointmentDate'] = [datetime.date.fromisoformat(s[0:10]) for s in raw_data['AppointmentDay']]
raw_data['Gap'] = pd.to_datetime(raw_data['AppointmentDay']) - pd.to_datetime(raw_data['ScheduledDay'])
raw_data['Gap.d'] = raw_data['Gap'].apply(lambda x: x.days)
raw_data['PatientId'] = raw_data['PatientId'].apply(str)
raw_data['AppointmentID'] = raw_data['AppointmentID'].apply(str)

In [4]:
raw_data.rename({'No-show': 'No-show-orig'}, axis='columns', inplace=True)

In [5]:
raw_data.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show-orig',
       'Gap', 'Gap.d'],
      dtype='object')

In [6]:
raw_data['No-show'] = np.where(raw_data['No-show-orig'] == 'No', 0, 1)

In [7]:
raw_data.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show-orig,Gap,Gap.d,No-show
0,29872499824296,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,-1 days +05:21:52,-1,0
1,558997776694438,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,-1 days +07:51:33,-1,0
2,4262962299951,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,-1 days +07:40:56,-1,0
3,867951213174,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,-1 days +06:30:29,-1,0
4,8841186448183,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,-1 days +07:52:37,-1,0
5,95985133231274,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,No,1 days 15:23:09,1,0
6,733688164476661,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes,1 days 08:54:48,1,1
7,3449833394123,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes,1 days 08:20:02,1,1
8,56394729949972,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No,-1 days +15:57:44,-1,0
9,78124564369297,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No,1 days 11:11:35,1,0

In [8]:
raw_data.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show-orig',
       'Gap', 'Gap.d', 'No-show'],
      dtype='object')

In [9]:
raw_data.drop(columns=['No-show-orig'], inplace=True)

In [10]:
raw_data.shape

(110527, 16)

In [11]:
raw_data.drop(raw_data[raw_data.Age <= 0].index, inplace=True)

In [12]:
raw_data.shape

(106987, 16)

In [13]:
D = raw_data[['PatientId','Age']].groupby('PatientId').nunique()
D[D['Age'] > 1]

                 Age
PatientId
11238367556569     2
1124242331227      2
1126541547466      2
112777857389857    2
113284814465264    2
...              ...
995336626311652    2
9957512332766      2
99575991136368     2
996868412638744    2
999479168794227    2

[1114 rows x 1 columns]

In [14]:
raw_data.loc[raw_data['PatientId'] == '1124242331227']

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Gap,Gap.d,No-show
57052,1124242331227,5593029,F,2016-04-18T08:44:57Z,2016-05-02T00:00:00Z,5,VILA RUBIM,0,0,0,0,0,1,13 days 15:15:03,13,0
57055,1124242331227,5644761,F,2016-05-02T09:04:48Z,2016-05-16T00:00:00Z,5,VILA RUBIM,0,0,0,0,0,0,13 days 14:55:12,13,1
94186,1124242331227,5700106,F,2016-05-16T09:08:01Z,2016-06-06T00:00:00Z,6,VILA RUBIM,0,0,0,0,0,1,20 days 14:51:59,20,0

In [15]:
raw_data.dtypes

PatientId                  object
AppointmentID              object
Gender                     object
ScheduledDay               object
AppointmentDay             object
Age                         int64
Neighbourhood              object
Scholarship                 int64
Hipertension                int64
Diabetes                    int64
Alcoholism                  int64
Handcap                     int64
SMS_received                int64
Gap               timedelta64[ns]
Gap.d                       int64
No-show                     int64
dtype: object

In [16]:
raw_data.to_csv('clean_data.csv', index=False)

We will use this data for our analysis.